body {
    color: #333;
    background-color: #e8bd8a;
    text-align: center;
}
img {
    max-width: 100%;
}
.container {
    margin: 30px auto;
    width: 200px;
    position: relative;
}
.img {
    width: 200px;
    height: 120px;
    position: absolute;
    z-index: 0;
    transition: clip .5s ease-in-out, z-index .1s linear .5s;
}
.img-1 {
  clip: rect(0, 100px, 60px, 0);
}
.img-2 {
  clip: rect(0, 200px, 60px, 100px);
}
.img-3 {
  clip: rect(60px, 100px, 120px, 0);
}
.img-4 {
  clip: rect(60px, 200px, 120px, 100px);
}
.img:hover {
  z-index: 1;
  transition: clip .5s ease-in-out .1s, z-index .5s linear;
  clip: rect(0, 200px, 120px, 0);
}
